::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ccc;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ccc;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #ccc;
}

::placeholder { /* Most modern browsers support this now. */
   color: #ccc;
}
