@import 'src/global';
@import '../common.scss';

.page {
  @media(max-width: 800px){
    //font-size: 0.5em;
  }
}

.outer {
  @media(max-width: 800px){
    flex-direction: column;
  }
}

.text {
  @include content-width;
}

.idea, .project {
  border-radius: 0.5em;
  cursor: pointer;
  
  margin: 0.5em 0;
  padding: 0.5em 2em 5em 2em;
  transition: transform 2s;
  width: 50%;
  margin: 1em;
  
  box-shadow: $card-shadow;
  font-size: 1.1em;
  
  h2 {
    font-size: 1.5em;
  }

  @media(max-width: 800px){
    width: auto;
    font-size: 0.85em;
  
    h2 {
      font-size: 1.25em;
    }
  }

  @media not all and (max-width: 800px){
    &:hover {
      transform: scale(1.1);
    }
  }
}

.idea {
  background: white url("../assets/idea.svg") no-repeat 100% 110%;
  background-size: 10em;
}

.project {
  background: white url("../assets/project.svg") no-repeat 0% 110%;
  background-size: 7em;
}