@import 'src/global';

.outer {
  display: flex;
  flex-direction: column;

  width: 25em;
  padding: 1em;

  p {
    font-family: $text-font;
    margin: 0;
  }

  @media (max-width: 800px){
    font-size: 0.6em;
  }
}

.email {
  @include text-field;
  margin: 1em 0em;
}

.buttons {
  align-self: flex-end;
}

.cancel {
  @include secondary-button;
}

.send {
  @include main-button;
}