@import 'src/global';

.outer {
  padding: 1em 2em;
  width: 25em;

  display: flex;
  flex-direction: column;
  font-family: $text-font;

  @media (max-width: 800px){
    font-size: 0.6em;
  }
}

.password {
  margin: 0.3em 0;
  @include text-field;
}

.recover {
  font-size: 0.9em;
}

.buttons {
  align-self: flex-end;
  margin-top: 1em;
}

.cancel {
  @include secondary-button;
}

.apply {
  @include main-button;
}