@import 'src/global';

.area {
  :global(.ql-container){
    font-family: $text-font;
    font-size: 1.1em;
    
    :global(.ql-editor){
      padding: 0.3em !important;
    }
   
    :global(.ql-syntax){
      color: #111 !important;
      background-color: #efefef !important;
    }
  }
}

.replyTo {
  color: darkred;
}

.buttons {
  width: 100%;
  padding: 1em 0em;
  
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
}

.submit {
  @include main-button;
}

.discard {
  @include secondary-button;
}

.numComments {
  padding: 1em 0 1.5em 1em;
  color: gray;
  font-size: 1em;
  border-top: solid 1px #dedede;
}


.logInContent {
  margin: auto;
  display: flex;
  width: 90%;

  flex-direction: column;
  align-items: center;

  /*
  @media (max-width: 800px){
    align-items: flex-end;
  }*/

  .notLogged {
    margin: 0 0 1em 0;
    font-family: $text-font;
    font-weight: lighter;
    font-size: 1.25em;
    color: #333;

    @media (max-width: 800px){
      font-size: 1.25em;
    }
  }
}

.logInButtons {
  margin-bottom: 1em;
}

.login {
  @include secondary-button;
}

.signup {
  @include main-button;
}