@import 'src/global';

.outer {
  display: flex;
}

.content {
  margin: auto;
  width: 90%;
}

.text {
  margin: 20px;
  font-family: $text-font;
  font-size: 18px;

  h1 {
    font-size: 1.25em;
  }
}
