@import 'src/global';

.outer {
  display: flex;
  width: 100%;
}

.content {
  margin: auto;
  display: flex;
  width: 90%;

  flex-direction: column;
  align-items: center;

  @media (max-width: 800px){
    align-items: flex-end;
  }

  .notLogged {
    margin: 1.5em 0 1em 0;
    font-family: $text-font;
    font-weight: lighter;
    font-size: 1.5em;
    color: #333;

    @media (max-width: 800px){
      font-size: 1.25em;
    }
  }
}

.login {
  @include secondary-button;
}

.signup {
  @include main-button;
}