@import 'src/global';

.outer {
  padding: 0.5em 0.5em;
  width: 30em;

  display: flex;
  flex-direction: column;
  font-family: $text-font;

  @media (max-width: 800px){
    font-size: 0.6em;
  }
}

.upper {
  display: flex;
  margin: 1em 1em;
}

.emoji {
  font-size: 3.5em;
  margin-right: 0.5em;
}

.text {
  margin-top: 0.3em;
  font-size: 1em;

  display: flex;
  justify-content: space-between;
}

.buttons {
  align-self: flex-end;
  margin-top: 1em;
}

.left {
  @include secondary-button;
}

.right {
  @include main-button;
}