body {
  margin: 0;
  padding: 0;

  background-color: white;
  font-size: 16px;
}

body.blue-bg {
  transition: background-color 1s;
  background-color: #000080;
}

body.gray-bg {
  transition: background-color 1s;
  background-color: #DDD;
}

body.white-bg {
  transition: background-color 1s;
  background-color: white;
}

/*
TODO: startup animation
body.light {
  background-color: #ddd;
  transition: background-color 3s;
}
*/
