$blue-color: #000080;
$gray-color: #ddd;
$blue-color2: #0000aa;
$blue-color3: #0000ee;
$blue-color4: #0000ff;

$title-font: 'Permanent Marker', cursive;
$text-font: 'M PLUS Rounded 1c', sans-serif;
//$text-font: 'Roboto', sans-serif;
