@import 'src/global';

.upper {
  background-color: $blue-color;
  position: absolute;
}

.inner {
  animation: fadeIn 1.5s ease-in-out;
}

.title {
  font-family: $title-font;
  font-size: 9vw;
  color: $gray-color;

  @media (max-width: 800px) {
    font-size: 14.5vw;
  }
}

.subtitle {
  font-family: $title-font;
  font-size: 2vw;
  margin-top: -2vw;
  color: $gray-color;

  @media (max-width: 800px) {
    font-size: 3.5vw;
  }
}

.button {
  margin-top: 1em;
  margin-right: 0.75em;
  font-size: 1.5vw;

  @media (max-width: 800px) {
    font-size: 3vw;
  }
}

.bottom {
  position: absolute;
  top: 100%;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(+1.5vw);
  }

  to {
    opacity: 1;
  }
}
