@import 'src/global';

.outer {
  display: flex;
}

.content {
  margin: auto;
  margin-bottom: 2.25em;
  @include content-width;
}

.text {
  margin: 20px;
  font-family: $text-font;
  font-size: 18px;

  h1 {
    font-size: 1.25em;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.showMore {
  @include main-button;
}